*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mukta */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
  font-family: 'Mukta', sans-serif 'Poppins', sans-serif; /* or 'Poppins', sans-serif; */
  /* padding-top: 70px;  */
}







