@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Mukta', sans-serif 'Poppins', sans-serif; /* or 'Poppins', sans-serif; */
}

